<!-- footer-template.html -->
<template id="footer-component">
    <footer>
      <p>&copy; 2025 Your Company Name. All Rights Reserved.</p>
      <nav>
        <ul>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pages/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/tasks.html">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </footer>
</template>
  